/* header start */
header{
    background-color:#fff ;
    padding: 20px 50px;
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title{
    font-size: 2.8rem;
    color: #3a3a3a;
    font-weight: 700;
   
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner style */

.banner{
    display: flex;
    align-items: center;
}
.banner-content{
   
}
.banner-title{
   font-size: 4rem;
   color: #3a3a3a;
   font-weight: 700;
}
.text-light-gray{
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 600;
}
.btn-primary{
   
color: #fff;
font-size: 1rem;
font-weight: 700;
padding: 10px;
border-radius: 41px;
background: #E02C6D;
border: 0;

}

.banner img {
    width: 440px;
    height: 414px;
    background: url(<path-to-image>), lightgray -256.697px -123px / 220.317% 154.831% no-repeat;
    border-radius: 50%;
    background-color: azure;
  
}